# macOS/Linux: 3.6 <= python <= 3.8
# Windows: 3.6 <= python <= 3.7
# pip install -r requirements.txt

pandas>=0.23.4
matplotlib>=3.0.3
numpy>=1.16.2
tensorflow>=1.15.0
tsfresh>=0.13.0
scikit-learn>=0.21.3
